@use './../../../mixins.scss' as *;

@include linkUserM;

div {
  @include flexColumn;
  align-items: end;
  gap: 1rem;

  @media (max-width: 500px) {
    display: none;
  }
}

@media(max-width: 1000px) {
  a {
    padding: 2rem;
  }

}

.logo-wrapper{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  .logo {
    width: 70px;
    height: 70px;
  }
  h1{
    font-size: 1.5rem;
    color: black;
  }
}

