<div class="privacy-wrapper">
  <img onclick="history.back(); return false;" src="../assets/icons/login/arrow_back_black.png" alt="arrow">
  <h2>Datenschutzerklärung</h2>
  <div>
    <p>Manuel Braun</p>
    <p>Grafen-von-Rieneck Str. 18</p>
    <p>97846 Partenstein</p>
  </div>
  <h3>Contact</h3>
  <div>
    <a href="tel:+491707020169">Telephone: +49 170/7020169</a>
    <a href="mailto:contact@manuel-braun.net">Email: contact&#64;manuel-braun.net</a>
  </div>
  <h3>Warum?</h3>
  <div>Datenschutz ist sehr wichtig usw....</div>
</div>

