
<div class="avatar-wrapper">
  <app-header-for-usermanagement></app-header-for-usermanagement>
  <form #avatarForm="ngForm">
    <img class="back-btn" onclick="history.back(); return false;" src="../assets/icons/login/arrow_back_black.png" alt="arrow">
    <div class="header-wrapper">
      <h2>Wähle deinen Avatar</h2>
    </div>
    <div class="profile-wrapper">
      <img [src]="selectedAvatar || 'assets/img/chars/profile_placeholder.png'" alt="Avatar Vorschau">
      <h3>{{ regData?.username }}</h3>
    </div>
  
    <div (click)="hideCropper()" class="text-wrapper"><span>Aus der Liste wählen</span></div>
    @if (!showCropper) {
      <div class="char-wrapper">
        <img src="assets/img/chars/char1.png" alt="avatar" (click)="selectedAvatar = 'assets/img/avatars/avatar1.png'">
        <img src="assets/img/chars/char2.png" alt="avatar" (click)="selectedAvatar = 'assets/img/avatars/avatar2.png'">
        <img src="assets/img/chars/char3.png" alt="avatar" (click)="selectedAvatar = 'assets/img/avatars/avatar3.png'">
        <img src="assets/img/chars/char4.png" alt="avatar" (click)="selectedAvatar = 'assets/img/avatars/avatar4.png'">
        <img src="assets/img/chars/char5.png" alt="avatar" (click)="selectedAvatar = 'assets/img/avatars/avatar5.png'">
        <img src="assets/img/chars/char6.png" alt="avatar" (click)="selectedAvatar = 'assets/img/avatars/avatar6.png'">
      </div>
    }
    
  
    <div class="load-img-wrapper">
      <div class="header">
        <span>Eigenes Bild verwenden</span>
      <button class="file-button">
        Datei hochladen
        <input type="file" accept="image/*" (change)="fileChangeEvent($event)" />
        
      </button>
      </div>
      @if (showCropper) {
        <image-cropper class="image-cropper"
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="1 / 1"
        format="png"
        (imageCropped)="imageCropped($event)"
    ></image-cropper>
      }
      
    </div>
    <div class="btn-wrapper">
      <span *ngIf="registrationFailed">{{ errorMassage }}</span> 
      <button (click)="completeRegistration()" [ngClass]="{'disabled-button': !selectedAvatar}" [disabled]="!selectedAvatar">Weiter</button>
    </div>
  </form>
  
  <div class="confirmPopup" *ngIf="showPopup">
    <span>Konto erfolgreich erstellt!</span> 
  </div>
</div>
