<div appClickOutside (clickOutside)="closeEmojiPicker()" class="send-message-container">
    @if (showEmojiPicker) {
        <div class="picker-wrapper">
            <app-emoji-picker (sendEmoji)="addEmojiToInput($event)" [content]="'send-message'"></app-emoji-picker>
        </div>
    }
    <textarea appAutofocus #textArea (keydown)="onKeyDownEnter($event)" [disabled]="disableInput" type="text" [(ngModel)]="content" [placeholder]="getPlaceholderText()"></textarea>

    <div class="icons">
        <div class="add-elements">
            <div class="bounding-box">
                <div>
                    <label [for]="setidforFileInput()" class="custom-file-upload">
                        <img src="assets/icons/channel-chat/plusIcon.svg" alt="Upload Icon">
                    </label>
                    <input #uploadInput class="file-upload" accept="image/*, application/pdf" [id]="setidforFileInput()" type="file" (change)="onFileSelected($event)"/>
                </div>
            </div>

            <hr>

            <div (click)="toggleEmojiPicker()" class="bounding-box">
                <img src="assets/icons/channel-chat/addReactionIcon.svg">
            </div>

            <div class="popup-wrapper">
                <div class="bounding-box" (click)="showTaggableUsers()">
                    <img src="assets/icons/channel-chat/tagPersonIcon.svg">
                </div>
                @if (uiService.showTaggableUsersPopup) {
                    <app-popup-taggable-users @fadeIn [currentRecipient]="currentRecipient" (userTagged)="displayTaggedUser($event)"></app-popup-taggable-users>
                }
            </div>
        </div>
        
        <div class="preview-btn-wrapper">
            <div class="file-preview-container">
                    @if (filePreview) {
                        <img [src]="filePreview" alt="Bild-Vorschau" class="file-preview">
                    }
                    @if (selectedFile) {
                        <p>{{ selectedFile.name }}</p>
                    }
                    @if (fileErrMsg !== '') {
                        <p class="fileErr">{{ fileErrMsg }}</p>
                    }
            </div>
        </div>
        
        <img src="assets/icons/channel-chat/sendIcon.svg" [ngStyle]="{ cursor: isBtnDisabled() }" class="send-btn" (click)="saveNewMessage()" [class.disabled]="isBtnDisabled()" [attr.disabled]="isBtnDisabled() ? true : null">
    </div>
</div>

@if (uiService.showTaggableUsersPopup) {
    <div @fadeIn class="popup-background" (click)="showTaggableUsers()"></div>
}