@use './../../../mixins.scss' as *;

@include linkUserM;
@include inputForm;

/* Start Animation */

.animation-container {
  z-index: 20;
  position: fixed;
  background: linear-gradient(#ECEEFE, #444DF2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 1rem;
  animation: moveToCorner 0.7s ease forwards 1.5s;

  @media(max-width: 999px) {
    animation: moveToTopMobile 0.7s ease forwards 1.5s;
  }
}

h1 {
  z-index: 22;
  color: white;
  font-size: 4rem;
  opacity: 0;
  transform: translateX(0);
  animation: slideInText 0.5s ease-out forwards 0.5s, 1s reduceFontsize ease forwards 1.5s;

  @media(max-width: 999px) {
    font-size: 2rem;
    animation: slideInText 0.5s ease-out forwards 0.5s, 1s reduceFontsizeMobile ease forwards 1.5s;
  }
}

.logo {
  width: 180px;
  height: 180px;
  z-index: 23;
  animation: logoAppear 0.5s ease forwards, logoSlideLeft 0.5s ease forwards 0.4s, 1s reduceLogoSize ease forwards 1.5s;

  @media(max-width: 999px) {
    width: 90px;
    height: 90px;
    animation: logoAppear 0.5s ease forwards, logoSlideLeft 0.5s ease-out forwards 0.4s, 1s reduceLogoSizeMobile ease forwards 1.5s;
  }
}

@keyframes reduceFontsize {
  0% {
    font-size: 4rem;
  }

  100% {
    font-size: 1.5rem;
    color: black;
  }
}

@keyframes reduceFontsizeMobile {
  0% {
    font-size: 2rem;
  }

  100% {
    font-size: 1.2rem;
    color: black;
  }
}

@keyframes reduceLogoSize {
  0% {
    width: 180px;
    height: 180px;
  }

  100% {
    width: 70px;
    height: 70px;
  }
}

@keyframes reduceLogoSizeMobile {
  0% {
    width: 90px;
    height: 90px;
  }

  100% {
    width: 56px;
    height: 56px;
  }
}

@keyframes slideInText {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes logoAppear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes logoSlideLeft {
  0% {
    transform: translateX(200px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveToCorner {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  100% {
    top: 3rem;
    left: max(-2rem, calc(100vw - 1920px) / 2 - 2rem);
    transform: translate(0, 0);
  }
}

@keyframes moveToTopMobile {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  100% {
    top: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2rem;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  max-width: 41rem;

  >p {
    font-size: 1.2rem;
    text-align: center;
    max-width: 41ch;

    @media(max-width: 999px) {
      max-width: 31ch;
    }
  }

  >span {
    font-size: 1.2rem;
    color: #ED1E79;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;

    >div {
      position: relative;
      @include flexCenter;

      >img {
        position: absolute;
        top: 30%;
        left: 1rem;
      }

      >input {
        width: 100%;
      }

      >span {
        position: absolute;
        color: #ED1E79;
        top: 100%;
        left: 1rem;
      }
    }

    @media(max-width: 999px) {
      gap: 1.5rem;
    }
  }

  .or-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;

    div {
      height: .18rem;
      width: 100%;
      background-color: #ECEEFE;
    }
  }

  >button {
    background-color: #ECEEFE;
    @include flexCenter;
    gap: 1.5rem;
    width: 100%;
    color: #444DF2;
    font-size: 1rem;
    font-weight: 400;
    border: .1rem solid #ECEEFE;

    &:hover {
      border: .1rem solid #444DF2;
      font-weight: 700;
    }
  }

  .btn-wrapper {
    display: flex;
    gap: 2rem;

    button:nth-child(1) {
      background-color: #444DF2;

      &:hover {
        background-color: #797EF3;
      }
    }

    button:nth-child(1).disabled-button {
      background-color: #686868;
      cursor: not-allowed;
    }

    button:nth-child(2) {
      border: .1rem solid #444DF2;
      color: #444DF2;
      background-color: white;

      &:hover {
        border: .1rem solid #535AF1;
        color: white;
        background-color: #535AF1;
      }
    }
  }
}

@media(max-width: 700px) {

  span,
  a,
  button,
  input {
    font-size: .8rem;
  }

  form {
    >p {
      font-size: .8rem;
    }
  }


}