<div class="view-profile">
    <div class="profile-header">
        <p>Profil</p>

        <div class="bounding-box" (click)="closeProfile()">
            <img src="assets/icons/close.svg">
        </div>
    </div>

    <div class="profile-img">
        <img [src]="user?.avatar">
    </div>

    <div class="name-editBtn-onlineStatus">
        <div class="name-editBtn">
            <p class="name">{{ user?.username }}</p>

        </div>

        <div class="onlineStatus">
            @if (user?.status === 'online') {
            <img src="assets/icons/statusOnline.png">
            <p class="online">Aktiv</p>
            } @else if (user?.status === 'offline') {
                <hr class="offline-icon">
                <p class="offline">Offline</p>
            } @else {
                <img src="assets/icons/statusAway.png" alt="">
                <p class="away">Abwesend</p>
            }

        </div>
    </div>

    <div class="email-address-container">
        <img src="assets/icons/mail.png">

        <div class="address">
            <p>E-Mail-Adresse</p>
            <p>{{ user?.email }}</p>
        </div>
    </div>

    <button (click)="openDirectMessage()" class="primary-btn message-btn"><img src="assets/icons/mode_comment.png" alt="">Nachricht</button>
</div>